<head>
  <link rel="stylesheet href=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css " integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy
    " crossorigin="anonymous ">
  <title>Event Sync</title>
</head>
<body>
  <div id="app"> </div>
</body>